{"openapi":"3.0.0","servers":[{"url":"https://api.botpress.cloud"}],"info":{"title":"Botpress API","description":"API for Botpress Cloud","version":"0.46.0"},"paths":{"/v1/chat/conversations":{"post":{"operationId":"createConversation","description":"Creates a new [Conversation](#schema_conversation). When creating a new [Conversation](#schema_conversation), the required tags must be provided. See the specific integration for more details.","parameters":[],"responses":{"201":{"$ref":"#/components/responses/createConversationResponse"},"default":{"$ref":"#/components/responses/createConversationResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createConversationBody"}},"get":{"operationId":"listConversations","description":"Retrieves a list of [Conversation](#schema_conversation) you’ve previously created. The conversations are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](#tags).","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"sortField","in":"query","description":"Sort results by this field","schema":{"type":"string","enum":["createdAt","updatedAt"]}},{"name":"sortDirection","in":"query","description":"Sort results in this direction","schema":{"type":"string","enum":["asc","desc"]}},{"name":"tags","in":"query","description":"Filter by tags","schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"participantIds","in":"query","description":"Filter by participant ids","schema":{"type":"array","items":{"type":"string"}}},{"name":"integrationName","in":"query","description":"Filter by integration name","schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listConversationsResponse"},"default":{"$ref":"#/components/responses/listConversationsResponse"}}}},"/v1/chat/conversations/{id}":{"get":{"operationId":"getConversation","description":"Retrieves the [Conversation](#schema_conversation) object for a valid identifier.","parameters":[{"name":"id","in":"path","description":"Conversation id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getConversationResponse"},"default":{"$ref":"#/components/responses/getConversationResponse"}}},"put":{"operationId":"updateConversation","description":"Update a [Conversation](#schema_conversation) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.","parameters":[{"name":"id","in":"path","description":"Conversation id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/updateConversationResponse"},"default":{"$ref":"#/components/responses/updateConversationResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateConversationBody"}},"delete":{"operationId":"deleteConversation","description":"Permanently deletes a [Conversation](#schema_conversation). It cannot be undone. Also immediately deletes corresponding [Messages](#schema_message).","parameters":[{"name":"id","in":"path","description":"Conversation id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteConversationResponse"},"default":{"$ref":"#/components/responses/deleteConversationResponse"}}}},"/v1/chat/conversations/get-or-create":{"post":{"operationId":"getOrCreateConversation","description":"Retrieves the [Conversation](#schema_conversation) object for a valid identifier. If the conversation does not exist, it will be created.","parameters":[],"responses":{"200":{"$ref":"#/components/responses/getOrCreateConversationResponse"},"default":{"$ref":"#/components/responses/getOrCreateConversationResponse"}},"requestBody":{"$ref":"#/components/requestBodies/getOrCreateConversationBody"}}},"/v1/chat/conversations/{id}/participants":{"get":{"operationId":"listParticipants","description":"Retrieves a list of [Participant](#schema_participant) for a given [Conversation](#schema_conversation).","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"id","in":"path","description":"Conversation id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listParticipantsResponse"},"default":{"$ref":"#/components/responses/listParticipantsResponse"}}},"post":{"operationId":"addParticipant","description":"Add a [Participant](#schema_participant) to a [Conversation](#schema_conversation).","parameters":[{"name":"id","in":"path","description":"Conversation id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/addParticipantResponse"},"default":{"$ref":"#/components/responses/addParticipantResponse"}},"requestBody":{"$ref":"#/components/requestBodies/addParticipantBody"}}},"/v1/chat/conversations/{id}/participants/{userId}":{"get":{"operationId":"getParticipant","description":"Retrieves a [Participant](#schema_participant) from a [Conversation](#schema_conversation).","parameters":[{"name":"id","in":"path","description":"Conversation id","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","description":"User id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getParticipantResponse"},"default":{"$ref":"#/components/responses/getParticipantResponse"}}},"delete":{"operationId":"removeParticipant","description":"Remove a [Participant](#schema_participant) from a [Conversation](#schema_conversation).","parameters":[{"name":"id","in":"path","description":"Conversation id","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","description":"User id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/removeParticipantResponse"},"default":{"$ref":"#/components/responses/removeParticipantResponse"}}}},"/v1/chat/events":{"post":{"operationId":"createEvent","description":"Creates a new [Event](#schema_event). When creating a new [Event](#schema_event), the required tags must be provided. See the specific integration for more details.","parameters":[],"responses":{"201":{"$ref":"#/components/responses/createEventResponse"},"default":{"$ref":"#/components/responses/createEventResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createEventBody"}},"get":{"operationId":"listEvents","description":"Retrieves a list of [Event](#schema_event) you’ve previously created. The events are returned in sorted order, with the most recent appearing first.","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"type","in":"query","description":"Filter by event type","schema":{"type":"string"}},{"name":"conversationId","in":"query","description":"Filter by conversation id","schema":{"type":"string"}},{"name":"userId","in":"query","description":"Filter by user id","schema":{"type":"string"}},{"name":"messageId","in":"query","description":"Filter by message id","schema":{"type":"string"}},{"name":"status","in":"query","description":"Filter by status. Allowed values: pending, ignored, processed, failed.","schema":{"type":"string","enum":["pending","ignored","processed","failed","scheduled"]}}],"responses":{"200":{"$ref":"#/components/responses/listEventsResponse"},"default":{"$ref":"#/components/responses/listEventsResponse"}}}},"/v1/chat/events/{id}":{"get":{"operationId":"getEvent","description":"Retrieves the [Event](#schema_event) object for a valid identifiers.","parameters":[{"name":"id","in":"path","description":"Event id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getEventResponse"},"default":{"$ref":"#/components/responses/getEventResponse"}}}},"/v1/chat/messages":{"post":{"operationId":"createMessage","description":"Creates a new [Message](#schema_message). When creating a new [Message](#schema_message), the required tags must be provided. See the specific integration for more details.","parameters":[],"responses":{"201":{"$ref":"#/components/responses/createMessageResponse"},"default":{"$ref":"#/components/responses/createMessageResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createMessageBody"}},"get":{"operationId":"listMessages","description":"Retrieves a list of [Message](#schema_message) you’ve previously created. The messages are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"conversationId","in":"query","description":"Conversation id","schema":{"type":"string"}},{"name":"tags","in":"query","description":"Filter by tags","schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"$ref":"#/components/responses/listMessagesResponse"},"default":{"$ref":"#/components/responses/listMessagesResponse"}}}},"/v1/chat/messages/get-or-create":{"post":{"operationId":"getOrCreateMessage","description":"Retrieves the [Message](#schema_message) object for a valid identifier. If the message does not exist, it will be created.","parameters":[],"responses":{"200":{"$ref":"#/components/responses/getOrCreateMessageResponse"},"default":{"$ref":"#/components/responses/getOrCreateMessageResponse"}},"requestBody":{"$ref":"#/components/requestBodies/getOrCreateMessageBody"}}},"/v1/chat/messages/{id}":{"get":{"operationId":"getMessage","description":"Retrieves the [Message](#schema_message) object for a valid identifier.","parameters":[{"name":"id","in":"path","description":"Id of the Message","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getMessageResponse"},"default":{"$ref":"#/components/responses/getMessageResponse"}}},"put":{"operationId":"updateMessage","description":"Update a message","parameters":[{"name":"id","in":"path","description":"Message id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/updateMessageResponse"},"default":{"$ref":"#/components/responses/updateMessageResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateMessageBody"}},"delete":{"operationId":"deleteMessage","description":"Permanently deletes a [Message](#schema_message). It cannot be undone.","parameters":[{"name":"id","in":"path","description":"Message id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteMessageResponse"},"default":{"$ref":"#/components/responses/deleteMessageResponse"}}}},"/v1/chat/users":{"post":{"operationId":"createUser","description":"Creates a new [User](#schema_user). When creating a new [User](#schema_user), the required tags must be provided. See the specific integration for more details.","parameters":[],"responses":{"201":{"$ref":"#/components/responses/createUserResponse"},"default":{"$ref":"#/components/responses/createUserResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createUserBody"}},"get":{"operationId":"listUsers","description":"Retrieves a list of [User](#schema_user) previously created. The users are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"conversationId","in":"query","description":"Filter by conversation id. This will return all users that have participated in the conversation.","schema":{"type":"string"}},{"name":"tags","in":"query","description":"Filter by tags","schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"$ref":"#/components/responses/listUsersResponse"},"default":{"$ref":"#/components/responses/listUsersResponse"}}}},"/v1/chat/users/{id}":{"get":{"operationId":"getUser","description":"Retrieves the [User](#schema_user) object for a valid identifier.","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getUserResponse"},"default":{"$ref":"#/components/responses/getUserResponse"}}},"put":{"operationId":"updateUser","description":"Update a [User](#schema_user) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/updateUserResponse"},"default":{"$ref":"#/components/responses/updateUserResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateUserBody"}},"delete":{"operationId":"deleteUser","description":"Permanently deletes a [User](#schema_user). It cannot be undone.","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteUserResponse"},"default":{"$ref":"#/components/responses/deleteUserResponse"}}}},"/v1/chat/users/get-or-create":{"post":{"operationId":"getOrCreateUser","description":"Retrieves the [User](#schema_user) object for a valid identifier. If the user does not exist, it will be created.","parameters":[],"responses":{"200":{"$ref":"#/components/responses/getOrCreateUserResponse"},"default":{"$ref":"#/components/responses/getOrCreateUserResponse"}},"requestBody":{"$ref":"#/components/requestBodies/getOrCreateUserBody"}}},"/v1/chat/states/{type}/{id}/{name}/expiry":{"post":{"operationId":"setStateExpiry","description":"Updates the [State](#schema_state) expiry.","parameters":[{"name":"type","in":"path","description":"State type","required":true,"schema":{"type":"string","enum":["conversation","user","bot","integration","task","workflow"]}},{"name":"id","in":"path","description":"State id","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"State name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/setStateExpiryResponse"},"default":{"$ref":"#/components/responses/setStateExpiryResponse"}},"requestBody":{"$ref":"#/components/requestBodies/setStateExpiryBody"}}},"/v1/chat/states/{type}/{id}/{name}":{"get":{"operationId":"getState","description":"Retrieves the [State](#schema_state) object for a valid identifiers.","parameters":[{"name":"type","in":"path","description":"State type","required":true,"schema":{"type":"string","enum":["conversation","user","bot","integration","task","workflow"]}},{"name":"id","in":"path","description":"State id","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"State name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getStateResponse"},"default":{"$ref":"#/components/responses/getStateResponse"}}},"post":{"operationId":"setState","description":"Overrides the [State](#schema_state) object by setting the values of the parameters passed.","parameters":[{"name":"type","in":"path","description":"State type","required":true,"schema":{"type":"string","enum":["conversation","user","bot","integration","task","workflow"]}},{"name":"id","in":"path","description":"State id","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"State name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/setStateResponse"},"default":{"$ref":"#/components/responses/setStateResponse"}},"requestBody":{"$ref":"#/components/requestBodies/setStateBody"}},"patch":{"operationId":"patchState","description":"Updates the [State](#schema_state) object by setting the values of the parameters passed.","parameters":[{"name":"type","in":"path","description":"State type","required":true,"schema":{"type":"string","enum":["conversation","user","bot","integration","task","workflow"]}},{"name":"id","in":"path","description":"State id","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"State name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/patchStateResponse"},"default":{"$ref":"#/components/responses/patchStateResponse"}},"requestBody":{"$ref":"#/components/requestBodies/patchStateBody"}}},"/v1/chat/states/{type}/{id}/{name}/get-or-set":{"post":{"operationId":"getOrSetState","description":"Retrieves the [State](#schema_state) object for a valid identifiers. If the state does not exist, it creates a new state.","parameters":[{"name":"type","in":"path","description":"State type","required":true,"schema":{"type":"string","enum":["conversation","user","bot","integration","task","workflow"]}},{"name":"id","in":"path","description":"State id","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"State name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getOrSetStateResponse"},"default":{"$ref":"#/components/responses/getOrSetStateResponse"}},"requestBody":{"$ref":"#/components/requestBodies/getOrSetStateBody"}}},"/v1/chat/actions":{"post":{"operationId":"callAction","description":"Call an action","parameters":[],"responses":{"200":{"$ref":"#/components/responses/callActionResponse"},"default":{"$ref":"#/components/responses/callActionResponse"}},"requestBody":{"$ref":"#/components/requestBodies/callActionBody"}}},"/v1/chat/integrations/configure":{"post":{"operationId":"configureIntegration","description":"An integration can call this endpoint to configure itself","parameters":[],"responses":{"200":{"$ref":"#/components/responses/configureIntegrationResponse"},"default":{"$ref":"#/components/responses/configureIntegrationResponse"}},"requestBody":{"$ref":"#/components/requestBodies/configureIntegrationBody"}}},"/v1/chat/tasks/{id}":{"get":{"operationId":"getTask","description":"Retrieves the [Task](#schema_task) object for a valid identifier.","parameters":[{"name":"id","in":"path","description":"Task id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getTaskResponse"},"default":{"$ref":"#/components/responses/getTaskResponse"}}},"put":{"operationId":"updateTask","description":"Update a [Task](#schema_task) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.","parameters":[{"name":"id","in":"path","description":"Task id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/updateTaskResponse"},"default":{"$ref":"#/components/responses/updateTaskResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateTaskBody"}},"delete":{"operationId":"deleteTask","description":"Permanently deletes a [Task](#schema_task). It cannot be undone.","parameters":[{"name":"id","in":"path","description":"Task id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteTaskResponse"},"default":{"$ref":"#/components/responses/deleteTaskResponse"}}}},"/v1/chat/tasks":{"post":{"operationId":"createTask","description":"Creates a new [Task](#schema_task). When creating a new [Task](#schema_task), the required tags must be provided. See the specific integration for more details.","parameters":[],"responses":{"201":{"$ref":"#/components/responses/createTaskResponse"},"default":{"$ref":"#/components/responses/createTaskResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createTaskBody"}},"get":{"operationId":"listTasks","description":"Retrieves a list of [Task](#schema_task) you've previously created. The tasks are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"tags","in":"query","description":"Filter by tags","schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"conversationId","in":"query","description":"Conversation id","schema":{"type":"string"}},{"name":"userId","in":"query","description":"User id","schema":{"type":"string"}},{"name":"parentTaskId","in":"query","description":"Parent task id","schema":{"type":"string"}},{"name":"status","in":"query","description":"Status","schema":{"type":"array","items":{"type":"string","enum":["pending","in_progress","failed","completed","blocked","paused","timeout","cancelled"]}}},{"name":"type","in":"query","description":"Type","schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listTasksResponse"},"default":{"$ref":"#/components/responses/listTasksResponse"}}}},"/v1/chat/workflows":{"post":{"operationId":"createWorkflow","description":"Creates a new [Workflow](#schema_workflow).","parameters":[],"responses":{"201":{"$ref":"#/components/responses/createWorkflowResponse"},"default":{"$ref":"#/components/responses/createWorkflowResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createWorkflowBody"}},"get":{"operationId":"listWorkflows","description":"Retrieves a list of [Workflow](#schema_workflow) you've previously created. The workflows are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"tags","in":"query","description":"Filter by tags","schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"conversationId","in":"query","description":"Conversation id","schema":{"type":"string"}},{"name":"userId","in":"query","description":"User id","schema":{"type":"string"}},{"name":"parentWorkflowId","in":"query","description":"Parent workflow id","schema":{"type":"string"}},{"name":"statuses","in":"query","description":"Status","schema":{"type":"array","items":{"type":"string","enum":["pending","in_progress","failed","completed","listening","paused","timedout","cancelled"]}}},{"name":"name","in":"query","description":"Workflow name","schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listWorkflowsResponse"},"default":{"$ref":"#/components/responses/listWorkflowsResponse"}}}},"/v1/chat/workflows/{id}":{"get":{"operationId":"getWorkflow","description":"Retrieves the [Workflow](#schema_workflow) object for a valid identifier.","parameters":[{"name":"id","in":"path","description":"Workflow id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getWorkflowResponse"},"default":{"$ref":"#/components/responses/getWorkflowResponse"}}},"put":{"operationId":"updateWorkflow","description":"Update a [Workflow](#schema_workflow) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.","parameters":[{"name":"id","in":"path","description":"Workflow id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/updateWorkflowResponse"},"default":{"$ref":"#/components/responses/updateWorkflowResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateWorkflowBody"}},"delete":{"operationId":"deleteWorkflow","description":"Permanently deletes a [Workflow](#schema_workflow). It cannot be undone.","parameters":[{"name":"id","in":"path","description":"Workflow id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteWorkflowResponse"},"default":{"$ref":"#/components/responses/deleteWorkflowResponse"}}}},"/v1/chat/workflows/get-or-create":{"post":{"operationId":"getOrCreateWorkflow","description":"Get a workflow by tags or creates a new [Workflow](#schema_workflow) if it doesn't exists.","parameters":[],"responses":{"200":{"$ref":"#/components/responses/getOrCreateWorkflowResponse"},"default":{"$ref":"#/components/responses/getOrCreateWorkflowResponse"}},"requestBody":{"$ref":"#/components/requestBodies/getOrCreateWorkflowBody"}}},"/v1/chat/analytics":{"post":{"operationId":"trackAnalytics","description":"Add an event to the analytics","parameters":[],"responses":{"200":{"$ref":"#/components/responses/trackAnalyticsResponse"},"default":{"$ref":"#/components/responses/trackAnalyticsResponse"}},"requestBody":{"$ref":"#/components/requestBodies/trackAnalyticsBody"}}},"/v1/admin/helper/vrl":{"post":{"operationId":"runVrl","description":"Run a VRL script","parameters":[],"responses":{"200":{"$ref":"#/components/responses/runVrlResponse"},"default":{"$ref":"#/components/responses/runVrlResponse"}},"requestBody":{"$ref":"#/components/requestBodies/runVrlBody"}}},"/v1/admin/account/me":{"get":{"operationId":"getAccount","description":"Get details of the account authenticating with this endpoint.","parameters":[],"responses":{"200":{"$ref":"#/components/responses/getAccountResponse"},"default":{"$ref":"#/components/responses/getAccountResponse"}}},"put":{"operationId":"updateAccount","description":"Update details of the account associated with authenticated user","parameters":[],"responses":{"200":{"$ref":"#/components/responses/updateAccountResponse"},"default":{"$ref":"#/components/responses/updateAccountResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateAccountBody"}}},"/v1/admin/account/pats":{"get":{"operationId":"listPersonalAccessTokens","description":"List PATs (Personal Access Tokens) of account.","parameters":[],"responses":{"200":{"$ref":"#/components/responses/listPersonalAccessTokensResponse"},"default":{"$ref":"#/components/responses/listPersonalAccessTokensResponse"}}},"post":{"operationId":"createPersonalAccessToken","description":"Create a PAT","parameters":[],"responses":{"200":{"$ref":"#/components/responses/createPersonalAccessTokenResponse"},"default":{"$ref":"#/components/responses/createPersonalAccessTokenResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createPersonalAccessTokenBody"}}},"/v1/admin/account/pats/{id}":{"delete":{"operationId":"deletePersonalAccessToken","description":"Delete a PAT","parameters":[{"name":"id","in":"path","description":"ID of Personal Access Token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deletePersonalAccessTokenResponse"},"default":{"$ref":"#/components/responses/deletePersonalAccessTokenResponse"}}}},"/v1/admin/account/preferences/{key}":{"post":{"operationId":"setAccountPreference","description":"Set a preference for the account","parameters":[{"name":"key","in":"path","description":"Preference key","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/setAccountPreferenceResponse"},"default":{"$ref":"#/components/responses/setAccountPreferenceResponse"}},"requestBody":{"$ref":"#/components/requestBodies/setAccountPreferenceBody"}},"get":{"operationId":"getAccountPreference","description":"Get a preference of the account","parameters":[{"name":"key","in":"path","description":"Preference key","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getAccountPreferenceResponse"},"default":{"$ref":"#/components/responses/getAccountPreferenceResponse"}}}},"/v1/admin/hub/integrations":{"get":{"operationId":"listPublicIntegrations","description":"List public integration","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"name","in":"query","description":"Integration Name","schema":{"type":"string"}},{"name":"version","in":"query","description":"Integration version. Either a semver version or tag \"latest\"","schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listPublicIntegrationsResponse"},"default":{"$ref":"#/components/responses/listPublicIntegrationsResponse"}}}},"/v1/admin/hub/integrations/{id}":{"get":{"operationId":"getPublicIntegrationById","description":"Get public integration by Id","parameters":[{"name":"id","in":"path","description":"Integration ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getPublicIntegrationByIdResponse"},"default":{"$ref":"#/components/responses/getPublicIntegrationByIdResponse"}}}},"/v1/admin/hub/integrations/{name}/{version}":{"get":{"operationId":"getPublicIntegration","description":"Get public integration by name and version","parameters":[{"name":"name","in":"path","description":"Integration Name","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Integration version. Either a semver version or tag \"latest\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getPublicIntegrationResponse"},"default":{"$ref":"#/components/responses/getPublicIntegrationResponse"}}}},"/v1/admin/bots":{"post":{"operationId":"createBot","description":"Create bot","parameters":[],"responses":{"200":{"$ref":"#/components/responses/createBotResponse"},"default":{"$ref":"#/components/responses/createBotResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createBotBody"}},"get":{"operationId":"listBots","description":"List bots","parameters":[{"name":"dev","in":"query","description":"If true, only dev bots are returned. Otherwise, only production bots are returned.","required":false,"schema":{"type":"boolean"}},{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"sortField","in":"query","description":"Sort results by this field","schema":{"type":"string","enum":["createdAt","updatedAt"]}},{"name":"sortDirection","in":"query","description":"Sort results in this direction","schema":{"type":"string","enum":["asc","desc"]}}],"responses":{"200":{"$ref":"#/components/responses/listBotsResponse"},"default":{"$ref":"#/components/responses/listBotsResponse"}}}},"/v1/admin/bots/{id}":{"put":{"operationId":"updateBot","description":"Update bot","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/updateBotResponse"},"default":{"$ref":"#/components/responses/updateBotResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateBotBody"}},"get":{"operationId":"getBot","description":"Get bot details","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getBotResponse"},"default":{"$ref":"#/components/responses/getBotResponse"}}},"delete":{"operationId":"deleteBot","description":"Delete bot","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteBotResponse"},"default":{"$ref":"#/components/responses/deleteBotResponse"}}}},"/v1/admin/bots/{id}/transfer":{"post":{"operationId":"transferBot","description":"Transfer bot to another workspace. You need to be a Manager member of the workspace the bot currently belongs to and have permission to create bots in the target workspace.","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/transferBotResponse"},"default":{"$ref":"#/components/responses/transferBotResponse"}},"requestBody":{"$ref":"#/components/requestBodies/transferBotBody"}}},"/v1/admin/bots/{id}/logs":{"get":{"operationId":"getBotLogs","description":"Get bot logs","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}},{"name":"timeStart","in":"query","description":"Beginning of the time range to get logs from","required":true,"schema":{"type":"string"}},{"name":"timeEnd","in":"query","description":"End of the time range to get logs from","required":true,"schema":{"type":"string"}},{"name":"nextToken","in":"query","description":"Token to get the next page of logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getBotLogsResponse"},"default":{"$ref":"#/components/responses/getBotLogsResponse"}}}},"/v1/admin/bots/{id}/webchat":{"get":{"operationId":"getBotWebchat","description":"Get the webchat code/URL for a bot","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"type of script to get","required":true,"schema":{"type":"string","enum":["preconfigured","configurable","fullscreen","sharableUrl"]}}],"responses":{"200":{"$ref":"#/components/responses/getBotWebchatResponse"},"default":{"$ref":"#/components/responses/getBotWebchatResponse"}}}},"/v1/admin/bots/{id}/analytics":{"get":{"operationId":"getBotAnalytics","description":"Get bot analytics","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}},{"name":"startDate","in":"query","description":"Start date/time (inclusive)","required":true,"schema":{"type":"string"}},{"name":"endDate","in":"query","description":"End date/time (exclusive)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getBotAnalyticsResponse"},"default":{"$ref":"#/components/responses/getBotAnalyticsResponse"}}}},"/v1/admin/bots/{id}/issues/{issueId}":{"get":{"operationId":"getBotIssue","description":"Get Bot Issue","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}},{"name":"issueId","in":"path","description":"Issue ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getBotIssueResponse"},"default":{"$ref":"#/components/responses/getBotIssueResponse"}}},"delete":{"operationId":"deleteBotIssue","description":"Delete Bot Issue","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}},{"name":"issueId","in":"path","description":"Issue ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteBotIssueResponse"},"default":{"$ref":"#/components/responses/deleteBotIssueResponse"}}}},"/v1/admin/bots/{id}/issues":{"get":{"operationId":"listBotIssues","description":"List Bot Issues","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}},{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listBotIssuesResponse"},"default":{"$ref":"#/components/responses/listBotIssuesResponse"}}}},"/v1/admin/bots/{id}/issues/{issueId}/events":{"get":{"operationId":"listBotIssueEvents","description":"List Events for a Bot Issue","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}},{"name":"issueId","in":"path","description":"Issue ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listBotIssueEventsResponse"},"default":{"$ref":"#/components/responses/listBotIssueEventsResponse"}}}},"/v1/admin/bots/{id}/versions":{"get":{"operationId":"listBotVersions","description":"List Versions for a Bot","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listBotVersionsResponse"},"default":{"$ref":"#/components/responses/listBotVersionsResponse"}}},"post":{"operationId":"createBotVersion","description":"Create a new version for a bot","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/createBotVersionResponse"},"default":{"$ref":"#/components/responses/createBotVersionResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createBotVersionBody"}}},"/v1/admin/bots/{id}/versions/{versionId}":{"get":{"operationId":"getBotVersion","description":"Get a specific version of a bot","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"path","description":"Version ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getBotVersionResponse"},"default":{"$ref":"#/components/responses/getBotVersionResponse"}}}},"/v1/admin/bots/{id}/versions/deploy":{"post":{"operationId":"deployBotVersion","description":"Deploys a version for a bot","parameters":[{"name":"id","in":"path","description":"Bot ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deployBotVersionResponse"},"default":{"$ref":"#/components/responses/deployBotVersionResponse"}},"requestBody":{"$ref":"#/components/requestBodies/deployBotVersionBody"}}},"/v1/admin/workspaces/{id}/billing/invoices":{"get":{"operationId":"listWorkspaceInvoices","description":"List invoices billed to workspace","parameters":[{"name":"id","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listWorkspaceInvoicesResponse"},"default":{"$ref":"#/components/responses/listWorkspaceInvoicesResponse"}}}},"/v1/admin/workspaces/{id}/billing/upcoming-invoice":{"get":{"operationId":"getUpcomingInvoice","description":"Get upcoming invoice for workspace","parameters":[{"name":"id","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getUpcomingInvoiceResponse"},"default":{"$ref":"#/components/responses/getUpcomingInvoiceResponse"}}}},"/v1/admin/workspaces/{id}/billing/invoices/charge-unpaid":{"post":{"operationId":"chargeWorkspaceUnpaidInvoices","description":"Charge unpaid invoices of a workspace.","parameters":[{"name":"id","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/chargeWorkspaceUnpaidInvoicesResponse"},"default":{"$ref":"#/components/responses/chargeWorkspaceUnpaidInvoicesResponse"}},"requestBody":{"$ref":"#/components/requestBodies/chargeWorkspaceUnpaidInvoicesBody"}}},"/v1/admin/workspaces":{"post":{"operationId":"createWorkspace","description":"Create workspace","parameters":[],"responses":{"200":{"$ref":"#/components/responses/createWorkspaceResponse"},"default":{"$ref":"#/components/responses/createWorkspaceResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createWorkspaceBody"}},"get":{"operationId":"listWorkspaces","description":"List workspaces the user has access to","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listWorkspacesResponse"},"default":{"$ref":"#/components/responses/listWorkspacesResponse"}}}},"/v1/admin/workspaces/{id}/public":{"get":{"operationId":"getPublicWorkspace","description":"Get workspace public details","parameters":[{"name":"id","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getPublicWorkspaceResponse"},"default":{"$ref":"#/components/responses/getPublicWorkspaceResponse"}}}},"/v1/admin/workspaces/{id}":{"get":{"operationId":"getWorkspace","description":"Get workspace details","parameters":[{"name":"id","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getWorkspaceResponse"},"default":{"$ref":"#/components/responses/getWorkspaceResponse"}}},"put":{"operationId":"updateWorkspace","description":"Update workspace","parameters":[{"name":"id","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/updateWorkspaceResponse"},"default":{"$ref":"#/components/responses/updateWorkspaceResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateWorkspaceBody"}},"delete":{"operationId":"deleteWorkspace","description":"Delete workspace","parameters":[{"name":"id","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteWorkspaceResponse"},"default":{"$ref":"#/components/responses/deleteWorkspaceResponse"}}}},"/v1/admin/workspaces/{id}/usages":{"get":{"operationId":"listWorkspaceUsages","description":"List workspace usages","parameters":[{"name":"id","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Usage type","required":true,"schema":{"type":"string","enum":["invocation_timeout","invocation_calls","storage_count","bot_count","knowledgebase_vector_storage","workspace_ratelimit","table_row_count","workspace_member_count","integrations_owned_count","ai_spend","openai_spend","bing_search_spend","always_alive"]}},{"name":"period","in":"query","description":"Period to get","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listWorkspaceUsagesResponse"},"default":{"$ref":"#/components/responses/listWorkspaceUsagesResponse"}}}},"/v1/admin/workspaces/{id}/usages/by-bot":{"get":{"operationId":"breakDownWorkspaceUsageByBot","description":"Break down workspace usage by bot","parameters":[{"name":"id","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Usage type","required":true,"schema":{"type":"string","enum":["invocation_timeout","invocation_calls","storage_count","bot_count","knowledgebase_vector_storage","workspace_ratelimit","table_row_count","workspace_member_count","integrations_owned_count","ai_spend","openai_spend","bing_search_spend","always_alive"]}},{"name":"period","in":"query","description":"Period to get","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/breakDownWorkspaceUsageByBotResponse"},"default":{"$ref":"#/components/responses/breakDownWorkspaceUsageByBotResponse"}}}},"/v1/admin/workspaces/usages/quota-completion":{"get":{"operationId":"getAllWorkspaceQuotaCompletion","description":"For a user, gets a map of workspace IDs to their highest quota completion rate","parameters":[],"responses":{"200":{"$ref":"#/components/responses/getAllWorkspaceQuotaCompletionResponse"},"default":{"$ref":"#/components/responses/getAllWorkspaceQuotaCompletionResponse"}}}},"/v1/admin/workspaces/{id}/quota":{"get":{"operationId":"getWorkspaceQuota","description":"Get workspace quota","parameters":[{"name":"id","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Usage type","required":true,"schema":{"type":"string","enum":["invocation_timeout","invocation_calls","storage_count","bot_count","knowledgebase_vector_storage","workspace_ratelimit","table_row_count","workspace_member_count","integrations_owned_count","ai_spend","openai_spend","bing_search_spend","always_alive"]}},{"name":"period","in":"query","description":"Period to get","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getWorkspaceQuotaResponse"},"default":{"$ref":"#/components/responses/getWorkspaceQuotaResponse"}}}},"/v1/admin/workspaces/{id}/quotas":{"get":{"operationId":"listWorkspaceQuotas","description":"List workspace quotas","parameters":[{"name":"id","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string"}},{"name":"period","in":"query","description":"Period to get","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listWorkspaceQuotasResponse"},"default":{"$ref":"#/components/responses/listWorkspaceQuotasResponse"}}}},"/v1/admin/workspaces/handle-availability":{"put":{"operationId":"checkHandleAvailability","description":"Check if a workspace handle is available","parameters":[],"responses":{"200":{"$ref":"#/components/responses/checkHandleAvailabilityResponse"},"default":{"$ref":"#/components/responses/checkHandleAvailabilityResponse"}},"requestBody":{"$ref":"#/components/requestBodies/checkHandleAvailabilityBody"}}},"/v1/admin/workspaces/public":{"get":{"operationId":"listPublicWorkspaces","description":"List public workspaces","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"workspaceIds","in":"query","description":"Ids of the workspaces to list","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"search","in":"query","description":"Search query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listPublicWorkspacesResponse"},"default":{"$ref":"#/components/responses/listPublicWorkspacesResponse"}}}},"/v1/admin/workspaces/{id}/audit-records":{"get":{"operationId":"getAuditRecords","description":"Get the audit records of a workspace, sorted from most recent to oldest.","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"id","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getAuditRecordsResponse"},"default":{"$ref":"#/components/responses/getAuditRecordsResponse"}}}},"/v1/admin/workspace-members":{"get":{"operationId":"listWorkspaceMembers","description":"Lists all the members in a workspace","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listWorkspaceMembersResponse"},"default":{"$ref":"#/components/responses/listWorkspaceMembersResponse"}}},"post":{"operationId":"createWorkspaceMember","description":"Add a member to the workspace","parameters":[],"responses":{"200":{"$ref":"#/components/responses/createWorkspaceMemberResponse"},"default":{"$ref":"#/components/responses/createWorkspaceMemberResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createWorkspaceMemberBody"}}},"/v1/admin/workspace-members/me":{"get":{"operationId":"getWorkspaceMember","description":"Get details of the account authenticating with this endpoint.","parameters":[],"responses":{"200":{"$ref":"#/components/responses/getWorkspaceMemberResponse"},"default":{"$ref":"#/components/responses/getWorkspaceMemberResponse"}}}},"/v1/admin/workspace-members/{id}":{"delete":{"operationId":"deleteWorkspaceMember","description":"Remove a member of a workspace","parameters":[{"name":"id","in":"path","description":"Workspace member ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteWorkspaceMemberResponse"},"default":{"$ref":"#/components/responses/deleteWorkspaceMemberResponse"}}},"put":{"operationId":"updateWorkspaceMember","description":"Update the member of a workspace","parameters":[{"name":"id","in":"path","description":"Workspace member ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/updateWorkspaceMemberResponse"},"default":{"$ref":"#/components/responses/updateWorkspaceMemberResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateWorkspaceMemberBody"}}},"/v1/admin/integrations/iaks":{"get":{"operationId":"listIntegrationApiKeys","description":"List IAKs (Integration Api Keys) of an integration","parameters":[{"name":"integrationId","in":"query","description":"ID of the integration","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listIntegrationApiKeysResponse"},"default":{"$ref":"#/components/responses/listIntegrationApiKeysResponse"}}},"post":{"operationId":"createIntegrationApiKey","description":"Create an IAK","parameters":[],"responses":{"200":{"$ref":"#/components/responses/createIntegrationApiKeyResponse"},"default":{"$ref":"#/components/responses/createIntegrationApiKeyResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createIntegrationApiKeyBody"}}},"/v1/admin/integrations/iaks/{id}":{"delete":{"operationId":"deleteIntegrationApiKey","description":"Delete an IAK","parameters":[{"name":"id","in":"path","description":"ID of Integration Api Key","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteIntegrationApiKeyResponse"},"default":{"$ref":"#/components/responses/deleteIntegrationApiKeyResponse"}}}},"/v1/admin/integrations":{"post":{"operationId":"createIntegration","description":"Create integration","parameters":[],"responses":{"200":{"$ref":"#/components/responses/createIntegrationResponse"},"default":{"$ref":"#/components/responses/createIntegrationResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createIntegrationBody"}},"get":{"operationId":"listIntegrations","description":"List integrations","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"name","in":"query","description":"Integration Name","schema":{"type":"string"}},{"name":"version","in":"query","description":"Integration version. Either a semver version or tag \"latest\"","schema":{"type":"string"}},{"name":"dev","in":"query","description":"If true, only dev integrations are returned. Otherwise, only production integrations are returned.","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"$ref":"#/components/responses/listIntegrationsResponse"},"default":{"$ref":"#/components/responses/listIntegrationsResponse"}}}},"/v1/admin/integrations/{id}":{"put":{"operationId":"updateIntegration","description":"Update integration","parameters":[{"name":"id","in":"path","description":"Integration ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/updateIntegrationResponse"},"default":{"$ref":"#/components/responses/updateIntegrationResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateIntegrationBody"}},"get":{"operationId":"getIntegration","description":"Get integration","parameters":[{"name":"id","in":"path","description":"Integration ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getIntegrationResponse"},"default":{"$ref":"#/components/responses/getIntegrationResponse"}}},"delete":{"operationId":"deleteIntegration","description":"Delete integration","parameters":[{"name":"id","in":"path","description":"Integration ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteIntegrationResponse"},"default":{"$ref":"#/components/responses/deleteIntegrationResponse"}}}},"/v1/admin/integrations/{id}/logs":{"get":{"operationId":"getIntegrationLogs","description":"Get integration logs","parameters":[{"name":"id","in":"path","description":"Integration ID","required":true,"schema":{"type":"string"}},{"name":"timeStart","in":"query","description":"Beginning of the time range to get logs from","required":true,"schema":{"type":"string"}},{"name":"timeEnd","in":"query","description":"End of the time range to get logs from","required":true,"schema":{"type":"string"}},{"name":"nextToken","in":"query","description":"Token to get the next page of logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getIntegrationLogsResponse"},"default":{"$ref":"#/components/responses/getIntegrationLogsResponse"}}}},"/v1/admin/integrations/{name}/{version}":{"get":{"operationId":"getIntegrationByName","description":"Get integration","parameters":[{"name":"name","in":"path","description":"Integration Name","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Integration version. Either a semver version or tag \"latest\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getIntegrationByNameResponse"},"default":{"$ref":"#/components/responses/getIntegrationByNameResponse"}}}},"/v1/admin/integrations/request-verification":{"post":{"operationId":"requestIntegrationVerification","description":"Request Integration Verification","parameters":[],"responses":{"200":{"$ref":"#/components/responses/requestIntegrationVerificationResponse"},"default":{"$ref":"#/components/responses/requestIntegrationVerificationResponse"}},"requestBody":{"$ref":"#/components/requestBodies/requestIntegrationVerificationBody"}}},"/v1/admin/interfaces":{"post":{"operationId":"createInterface","description":"Create Interface","parameters":[],"responses":{"200":{"$ref":"#/components/responses/createInterfaceResponse"},"default":{"$ref":"#/components/responses/createInterfaceResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createInterfaceBody"}},"get":{"operationId":"listInterfaces","description":"List Interfaces","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listInterfacesResponse"},"default":{"$ref":"#/components/responses/listInterfacesResponse"}}}},"/v1/admin/interfaces/{id}":{"get":{"operationId":"getInterface","description":"Get Interface","parameters":[{"name":"id","in":"path","description":"Interface id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getInterfaceResponse"},"default":{"$ref":"#/components/responses/getInterfaceResponse"}}},"put":{"operationId":"updateInterface","description":"Update Interface","parameters":[{"name":"id","in":"path","description":"Interface id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/updateInterfaceResponse"},"default":{"$ref":"#/components/responses/updateInterfaceResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateInterfaceBody"}},"delete":{"operationId":"deleteInterface","description":"Delete Interface","parameters":[{"name":"id","in":"path","description":"Interface id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteInterfaceResponse"},"default":{"$ref":"#/components/responses/deleteInterfaceResponse"}}}},"/v1/admin/interfaces/{name}/{version}":{"get":{"operationId":"getInterfaceByName","description":"Get Interface by name and version","parameters":[{"name":"name","in":"path","description":"Interface name","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Interface version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getInterfaceByNameResponse"},"default":{"$ref":"#/components/responses/getInterfaceByNameResponse"}}}},"/v1/admin/usages/{id}":{"get":{"operationId":"getUsage","description":"Get usage","parameters":[{"name":"type","in":"query","description":"Usage type","required":true,"schema":{"type":"string","enum":["invocation_timeout","invocation_calls","storage_count","bot_count","knowledgebase_vector_storage","workspace_ratelimit","table_row_count","workspace_member_count","integrations_owned_count","ai_spend","openai_spend","bing_search_spend","always_alive"]}},{"name":"period","in":"query","description":"Period to get","required":false,"schema":{"type":"string"}},{"name":"id","in":"path","description":"ID of a bot or a workspace, depending on the \"type\" parameter","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getUsageResponse"},"default":{"$ref":"#/components/responses/getUsageResponse"}}}},"/v1/admin/usages/multiple":{"get":{"operationId":"getMultipleUsages","description":"Get multiple usages","parameters":[{"name":"types","in":"query","description":"Usage types to retrieve. All types have to belong to the same type of entity (e.g. workspace or bot).","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"ids","in":"query","description":"IDs of either workspaces or bots to retrieve usages for.","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"period","in":"query","description":"Period to get","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getMultipleUsagesResponse"},"default":{"$ref":"#/components/responses/getMultipleUsagesResponse"}}}},"/v1/admin/usages/{id}/history":{"get":{"operationId":"listUsageHistory","description":"Get usage history","parameters":[{"name":"type","in":"query","description":"Usage type","required":true,"schema":{"type":"string","enum":["invocation_timeout","invocation_calls","storage_count","bot_count","knowledgebase_vector_storage","workspace_ratelimit","table_row_count","workspace_member_count","integrations_owned_count","ai_spend","openai_spend","bing_search_spend","always_alive"]}},{"name":"id","in":"path","description":"ID of a bot or a workspace, depending on the \"type\" parameter","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listUsageHistoryResponse"},"default":{"$ref":"#/components/responses/listUsageHistoryResponse"}}}},"/v1/admin/usages/{id}/activity":{"get":{"operationId":"listUsageActivity","description":"List the usage activity for a given usage type and ID. The most recent activity is listed first.","parameters":[{"name":"type","in":"query","description":"Usage type","required":true,"schema":{"type":"string","enum":["invocation_timeout","invocation_calls","storage_count","bot_count","knowledgebase_vector_storage","workspace_ratelimit","table_row_count","workspace_member_count","integrations_owned_count","ai_spend","openai_spend","bing_search_spend","always_alive"]}},{"name":"id","in":"path","description":"ID of a bot or a workspace, depending on the \"type\" parameter","required":true,"schema":{"type":"string"}},{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listUsageActivityResponse"},"default":{"$ref":"#/components/responses/listUsageActivityResponse"}}}},"/v1/admin/quotas/ai-spend":{"put":{"operationId":"changeAISpendQuota","description":"Change AI Spend quota","parameters":[],"responses":{"200":{"$ref":"#/components/responses/changeAISpendQuotaResponse"},"default":{"$ref":"#/components/responses/changeAISpendQuotaResponse"}},"requestBody":{"$ref":"#/components/requestBodies/changeAISpendQuotaBody"}}},"/v1/admin/activities":{"get":{"operationId":"listActivities","description":"List activities of a task","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"taskId","in":"query","description":"ID of the task to list activities for","required":true,"schema":{"type":"string"}},{"name":"botId","in":"query","description":"ID of the bot to list activities for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listActivitiesResponse"},"default":{"$ref":"#/components/responses/listActivitiesResponse"}}}},"/v1/admin/introspect":{"post":{"operationId":"introspect","description":"Introspect the API","parameters":[],"responses":{"200":{"$ref":"#/components/responses/introspectResponse"},"default":{"$ref":"#/components/responses/introspectResponse"}},"requestBody":{"$ref":"#/components/requestBodies/introspectBody"}}},"/v1/files":{"put":{"operationId":"upsertFile","description":"Creates or updates a file using the `key` parameter as unique identifier. Updating a file will erase the existing content of the file. Upload the file content by sending it in a PUT request to the `uploadUrl` returned in the response.","parameters":[],"responses":{"200":{"$ref":"#/components/responses/upsertFileResponse"},"default":{"$ref":"#/components/responses/upsertFileResponse"}},"requestBody":{"$ref":"#/components/requestBodies/upsertFileBody"}},"get":{"operationId":"listFiles","description":"List files for bot","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"tags","in":"query","description":"Filter files by tags. Tags should be passed as a URL-encoded JSON object of key-value pairs that must be present in the tags of a file. An array of multiple string values for the same key are treated as an OR condition. To exclude a value, express it as an object with a nested `not` key with the string or string-array value(s) to exclude.","schema":{}},{"name":"ids","in":"query","description":"Filter files by IDs.","schema":{"type":"array","items":{"type":"string"},"maxItems":50}}],"responses":{"200":{"$ref":"#/components/responses/listFilesResponse"},"default":{"$ref":"#/components/responses/listFilesResponse"}}}},"/v1/files/{id}":{"delete":{"operationId":"deleteFile","description":"Deletes a file.","parameters":[{"name":"id","in":"path","description":"File ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteFileResponse"},"default":{"$ref":"#/components/responses/deleteFileResponse"}}},"get":{"operationId":"getFile","description":"Get file","parameters":[{"name":"id","in":"path","description":"File ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getFileResponse"},"default":{"$ref":"#/components/responses/getFileResponse"}}},"put":{"operationId":"updateFileMetadata","description":"Update file metadata, without updating the file content.","parameters":[{"name":"id","in":"path","description":"File ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/updateFileMetadataResponse"},"default":{"$ref":"#/components/responses/updateFileMetadataResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateFileMetadataBody"}}},"/v1/files/search":{"get":{"operationId":"searchFiles","description":"Search files","parameters":[{"name":"tags","in":"query","description":"Filter files by tags. Tags should be passed as a URL-encoded JSON object of key-value pairs that must be present in the tags of a file. An array of multiple string values for the same key are treated as an OR condition. To exclude a value, express it as an object with a nested `not` key with the string or string-array value(s) to exclude.","schema":{}},{"name":"query","in":"query","description":"Query expressed in natural language to retrieve matching text passages within all indexed files in the bot using semantical search.","required":true,"schema":{"type":"string"}},{"name":"contextDepth","in":"query","description":"The number of neighbor passages to prepend and append as surrounding context to the content of each returned passage (default: 1, minimum: 0, maximum: 10).","schema":{"type":"integer"}},{"name":"limit","in":"query","description":"The maximum number of passages to return.","schema":{"type":"integer"}},{"name":"consolidate","in":"query","description":"Consolidate the results by merging matching passages from the same file into a single passage per file. The consolidated passage will include the matching passages ordered by their original position in the file (rather than by relevance score) and include hierarchical context such as the title/subtitle to which they belong.","schema":{"type":"boolean"}},{"name":"includeBreadcrumb","in":"query","description":"Prepend a breadcrumb to each passage, containing the title and subtitle(s) the passage belongs to in the file. This option is ignored when the `consolidate` option is set to `true`.","schema":{"type":"boolean"}}],"responses":{"200":{"$ref":"#/components/responses/searchFilesResponse"},"default":{"$ref":"#/components/responses/searchFilesResponse"}}}},"/v1/files/{fileId}/passages":{"get":{"operationId":"listFilePassages","description":"List passages for a file","parameters":[{"name":"nextToken","in":"query","description":"Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results","schema":{"type":"string"}},{"name":"limit","in":"query","description":"The maximum number of passages to return per request (optional, default: 20, max: 200).","schema":{"type":"number"}},{"name":"fileId","in":"path","description":"File ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/listFilePassagesResponse"},"default":{"$ref":"#/components/responses/listFilePassagesResponse"}}}},"/v1/tables":{"get":{"operationId":"listTables","description":"Retrieves a list of all tables associated with your bot.","parameters":[{"name":"tags","in":"query","description":"Optional filters to narrow down the list by tags associated with tables.","schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"$ref":"#/components/responses/listTablesResponse"},"default":{"$ref":"#/components/responses/listTablesResponse"}}},"post":{"operationId":"createTable","description":"Initiates the creation of a new table based on the provided schema, excluding system-managed fields like IDs and timestamps.","parameters":[],"responses":{"200":{"$ref":"#/components/responses/createTableResponse"},"default":{"$ref":"#/components/responses/createTableResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createTableBody"}}},"/v1/tables/{table}":{"get":{"operationId":"getTable","description":"Retrieves detailed information about a specific table, identified by its name or unique identifier.","parameters":[{"name":"table","in":"path","description":"The table's name or unique identifier for targeting specific table operations.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getTableResponse"},"default":{"$ref":"#/components/responses/getTableResponse"}}},"post":{"operationId":"getOrCreateTable","description":"Retrieves information about a specific table if it exists; otherwise, creates a new table based on the provided schema.","parameters":[{"name":"table","in":"path","description":"The table's name or unique identifier for targeting specific table operations.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/getOrCreateTableResponse"},"default":{"$ref":"#/components/responses/getOrCreateTableResponse"}},"requestBody":{"$ref":"#/components/requestBodies/getOrCreateTableBody"}},"put":{"operationId":"updateTable","description":"Updates the schema or the name of an existing table.","parameters":[{"name":"table","in":"path","description":"The table's name or unique identifier for targeting specific table operations.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/updateTableResponse"},"default":{"$ref":"#/components/responses/updateTableResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateTableBody"}},"delete":{"operationId":"deleteTable","description":"Permanently deletes a table and all its associated data from the system. Use with caution, as this action cannot be undone.","parameters":[{"name":"table","in":"path","description":"The table's name or unique identifier for targeting specific table operations.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteTableResponse"},"default":{"$ref":"#/components/responses/deleteTableResponse"}}}},"/v1/tables/{sourceTableId}/duplicate":{"post":{"operationId":"duplicateTable","description":"Duplicates the table schema & content","parameters":[{"name":"sourceTableId","in":"path","description":"The table's unique identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/duplicateTableResponse"},"default":{"$ref":"#/components/responses/duplicateTableResponse"}},"requestBody":{"$ref":"#/components/requestBodies/duplicateTableBody"}}},"/v1/tables/{table}/column":{"put":{"operationId":"renameTableColumn","description":"Renames an existing column within a table to better reflect its content or usage. The operation targets a specific table and requires the current and new column names.","parameters":[{"name":"table","in":"path","description":"The table's name or unique identifier for targeting specific table operations.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/renameTableColumnResponse"},"default":{"$ref":"#/components/responses/renameTableColumnResponse"}},"requestBody":{"$ref":"#/components/requestBodies/renameTableColumnBody"}}},"/v1/tables/{table}/row":{"get":{"operationId":"getTableRow","description":"Fetches a specific row from a table using the row's unique identifier.","parameters":[{"name":"table","in":"path","description":"The table's name or unique identifier for targeting specific table operations.","required":true,"schema":{"type":"string"}},{"name":"id","in":"query","description":"Identifier of the row within the table.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#/components/responses/getTableRowResponse"},"default":{"$ref":"#/components/responses/getTableRowResponse"}}}},"/v1/tables/{table}/rows/find":{"post":{"operationId":"findTableRows","description":"Enables the search and filtering of rows within a table based on specific criteria. This operation supports complex queries for advanced data manipulation and retrieval.","parameters":[{"name":"table","in":"path","description":"The table's name or unique identifier for targeting specific table operations.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/findTableRowsResponse"},"default":{"$ref":"#/components/responses/findTableRowsResponse"}},"requestBody":{"$ref":"#/components/requestBodies/findTableRowsBody"}}},"/v1/tables/{table}/rows":{"post":{"operationId":"createTableRows","description":"Inserts one or multiple new rows into the specified table.","parameters":[{"name":"table","in":"path","description":"The table's name or unique identifier for targeting specific table operations.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/createTableRowsResponse"},"default":{"$ref":"#/components/responses/createTableRowsResponse"}},"requestBody":{"$ref":"#/components/requestBodies/createTableRowsBody"}},"put":{"operationId":"updateTableRows","description":"Updates specified rows in a table, allowing partial success with detailed feedback on errors.","parameters":[{"name":"table","in":"path","description":"The table's name or unique identifier for targeting specific table operations.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/updateTableRowsResponse"},"default":{"$ref":"#/components/responses/updateTableRowsResponse"}},"requestBody":{"$ref":"#/components/requestBodies/updateTableRowsBody"}}},"/v1/tables/{table}/rows/delete":{"post":{"operationId":"deleteTableRows","description":"Allows selective deletion of rows or complete clearance of a table.","parameters":[{"name":"table","in":"path","description":"The table's name or unique identifier for targeting specific table operations.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/deleteTableRowsResponse"},"default":{"$ref":"#/components/responses/deleteTableRowsResponse"}},"requestBody":{"$ref":"#/components/requestBodies/deleteTableRowsBody"}}},"/v1/tables/{table}/rows/upsert":{"post":{"operationId":"upsertTableRows","description":"Inserts or updates rows based on a key. If a row exists, it is updated; otherwise, a new row is created.","parameters":[{"name":"table","in":"path","description":"The table's name or unique identifier for targeting specific table operations.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/upsertTableRowsResponse"},"default":{"$ref":"#/components/responses/upsertTableRowsResponse"}},"requestBody":{"$ref":"#/components/requestBodies/upsertTableRowsBody"}}}},"components":{"schemas":{"Bot":{"type":"object","properties":{"id":{"type":"string","minLength":28,"maxLength":36,"description":"Id of the [Bot](#schema_bot)"},"createdAt":{"type":"string","format":"date-time","description":"Creation date of the [Bot](#schema_bot) in ISO 8601 format"},"updatedAt":{"type":"string","format":"date-time","description":"Updating date of the [Bot](#schema_bot) in ISO 8601 format"},"signingSecret":{"type":"string","maxLength":2000,"description":"Signing secret of the [Bot](#schema_bot)"},"integrations":{"type":"object","additionalProperties":{"type":"object","properties":{"enabled":{"type":"boolean"},"name":{"type":"string","maxLength":200,"description":"Name of the [Integration](#schema_integration)"},"version":{"type":"string","maxLength":200,"description":"Version of the [Integration](#schema_integration)"},"webhookUrl":{"type":"string","maxLength":2000},"webhookId":{"type":"string","maxLength":200},"identifier":{"type":"string","maxLength":2000},"configurationType":{"type":"string","maxLength":200,"nullable":true},"configuration":{"type":"object","additionalProperties":true},"status":{"type":"string","enum":["registration_pending","registered","registration_failed","unregistration_pending","unregistered","unregistration_failed"]},"statusReason":{"type":"string","maxLength":2000,"nullable":true},"id":{"type":"string","minLength":28,"maxLength":36,"description":"ID of the [Integration](#schema_integration)"},"createdAt":{"type":"string","format":"date-time","description":"Creation date of the [Integration](#schema_integration) in ISO 8601 format"},"updatedAt":{"type":"string","format":"date-time","description":"Updating date of the [Integration](#schema_integration) in ISO 8601 format"},"title":{"type":"string","minLength":1,"maxLength":64,"description":"Title of the integration. This is the name that will be displayed in the UI"},"description":{"type":"string","maxLength":256,"description":"Description of the integration. This is the description that will be displayed in the UI"},"iconUrl":{"type":"string","description":"URL of the icon of the integration. This is the icon that will be displayed in the UI"},"public":{"type":"boolean","description":"Idicates if the integration is public. Public integrations are available to all and cannot be updated without creating a new version."},"verificationStatus":{"type":"string","enum":["unapproved","pending","approved","rejected"],"description":"Status of the integration version verification"}},"required":["enabled","name","version","webhookUrl","webhookId","configurationType","configuration","status","statusReason","id","createdAt","updatedAt","title","description","iconUrl","public","verificationStatus"],"additionalProperties":false},"description":"A mapping of integrations to their configuration"},"user":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the tag"},"description":{"type":"string","maxLength":256,"description":"Description of the tag"}},"description":"Definition of a tag that can be provided on the object","additionalProperties":false}}},"required":["tags"],"description":"User object configuration","additionalProperties":false},"conversation":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the tag"},"description":{"type":"string","maxLength":256,"description":"Description of the tag"}},"description":"Definition of a tag that can be provided on the object","additionalProperties":false}}},"required":["tags"],"description":"Conversation object configuration","additionalProperties":false},"message":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the tag"},"description":{"type":"string","maxLength":256,"description":"Description of the tag"}},"description":"Definition of a tag that can be provided on the object","additionalProperties":false}}},"required":["tags"],"description":"Message object configuration","additionalProperties":false},"states":{"type":"object","additionalProperties":{"type":"object","properties":{"type":{"type":"string","enum":["conversation","user","bot","task"],"description":"Type of the [State](#schema_state) (`conversation`, `user`, `bot` or `task`)"},"schema":{"type":"object","additionalProperties":true,"description":"Schema of the [State](#schema_state) in the `JSON schema` format. This `JSON schema` is going to be used for validating the state data."},"expiry":{"type":"number","minimum":1,"description":"Expiry of the [State](#schema_state) in milliseconds. The state will expire if it is idle for the configured value. By default, a state doesn't expire."}},"required":["type","schema"],"additionalProperties":false},"description":"A mapping of states to their definition"},"configuration":{"type":"object","properties":{"data":{"type":"object","additionalProperties":true,"description":"Configuration data"},"schema":{"type":"object","additionalProperties":true,"description":"Schema of the configuration in the `JSON schema` format. The configuration data is validated against this `JSON schema`."}},"required":["data","schema"],"description":"Configuration of the bot","additionalProperties":false},"events":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the event"},"description":{"type":"string","maxLength":256,"description":"Description of the event"},"schema":{"type":"object","additionalProperties":true}},"required":["schema"],"description":"Event Definition","additionalProperties":false},"description":"Events definition"},"recurringEvents":{"type":"object","additionalProperties":{"type":"object","properties":{"schedule":{"type":"object","properties":{"cron":{"type":"string","maxLength":200}},"required":["cron"],"additionalProperties":false},"type":{"type":"string","maxLength":200},"payload":{"type":"object","additionalProperties":true},"failedAttempts":{"type":"number","description":"The number of times the recurring event failed to run. This counter resets once the recurring event runs successfully."},"lastFailureReason":{"type":"string","maxLength":2000,"description":"The reason why the recurring event failed to run in the last attempt.","nullable":true}},"required":["schedule","type","payload","failedAttempts","lastFailureReason"],"additionalProperties":false},"description":"Recurring events"},"subscriptions":{"type":"object","properties":{"events":{"type":"object","additionalProperties":{"type":"object","additionalProperties":false},"nullable":true,"description":"Events that the bot is currently subscribed on (ex: \"slack:reactionAdded\"). If null, the bot is subscribed to all events."}},"required":["events"],"description":"Subscriptions of the bot","additionalProperties":false},"actions":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the action"},"description":{"type":"string","maxLength":256,"description":"Description of the action"},"billable":{"type":"boolean"},"cacheable":{"type":"boolean"},"input":{"type":"object","properties":{"schema":{"type":"object","additionalProperties":true}},"required":["schema"],"additionalProperties":false},"output":{"type":"object","properties":{"schema":{"type":"object","additionalProperties":true}},"required":["schema"],"additionalProperties":false}},"required":["input","output"],"description":"Action definition","additionalProperties":false},"description":"Actions definition"},"name":{"type":"string","description":"Name of the [Bot](#schema_bot)"},"deployedAt":{"type":"string","format":"date-time","description":"Last deployment date of the [Bot](#schema_bot) in the ISO 8601 format"},"dev":{"type":"boolean","description":"Indicates if the [Bot](#schema_bot) is a development bot; Development bots run locally and can install dev integrations"},"createdBy":{"type":"string","description":"Id of the user that created the bot"},"alwaysAlive":{"type":"boolean","description":"Indicates if the [Bot](#schema_bot) should be in always alive mode"},"status":{"type":"string","enum":["active","deploying"],"description":"Status of the bot"},"medias":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","description":"URL of the media file"},"name":{"type":"string","description":"Name of the media file"}},"required":["url","name"]},"description":"Media files associated with the [Bot](#schema_bot)"}},"required":["id","createdAt","updatedAt","signingSecret","integrations","user","conversation","message","states","configuration","events","recurringEvents","subscriptions","actions","name","dev","alwaysAlive","status","medias"],"additionalProperties":false},"Integration":{"type":"object","properties":{"id":{"type":"string","minLength":28,"maxLength":36,"description":"ID of the [Integration](#schema_integration)"},"createdAt":{"type":"string","format":"date-time","description":"Creation date of the [Integration](#schema_integration) in ISO 8601 format"},"updatedAt":{"type":"string","format":"date-time","description":"Updating date of the [Integration](#schema_integration) in ISO 8601 format"},"identifier":{"type":"object","properties":{"fallbackHandlerScript":{"type":"string","maxLength":2000,"description":"VRL Script of the [Integration](#schema_integration) to handle incoming requests for a request that doesn't have an identifier"},"extractScript":{"type":"string","maxLength":2000,"description":"VRL Script of the [Integration](#schema_integration) to extract the identifier from an incoming webhook often use for OAuth"}},"description":"Global identifier configuration of the [Integration](#schema_integration)","additionalProperties":false},"url":{"type":"string","maxLength":2000,"description":"URL of the [Integration](#schema_integration)"},"name":{"type":"string","maxLength":200,"description":"Name of the [Integration](#schema_integration)"},"version":{"type":"string","maxLength":200,"description":"Version of the [Integration](#schema_integration)"},"interfaces":{"type":"object","additionalProperties":{"type":"object","properties":{"id":{"type":"string","minLength":28,"maxLength":36,"description":"ID of the interface"},"name":{"type":"string","maxLength":200,"description":"Name of the interface"},"entities":{"type":"object","additionalProperties":{"type":"object","properties":{"name":{"type":"string","maxLength":200}},"required":["name"],"additionalProperties":false}},"actions":{"type":"object","additionalProperties":{"type":"object","properties":{"name":{"type":"string","maxLength":200}},"required":["name"],"additionalProperties":false}},"events":{"type":"object","additionalProperties":{"type":"object","properties":{"name":{"type":"string","maxLength":200}},"required":["name"],"additionalProperties":false}},"channels":{"type":"object","additionalProperties":{"type":"object","properties":{"name":{"type":"string","maxLength":200}},"required":["name"],"additionalProperties":false}}},"required":["id","name","entities","actions","events","channels"],"additionalProperties":false}},"configuration":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the configuration"},"description":{"type":"string","maxLength":256,"description":"Description of the configuration"},"identifier":{"type":"object","properties":{"linkTemplateScript":{"type":"string","maxLength":2000},"required":{"type":"boolean"}},"required":["required"],"description":"Identifier configuration of the [Integration](#schema_integration)","additionalProperties":false},"schema":{"type":"object","additionalProperties":true,"description":"Schema of the configuration in the `JSON schema` format. The configuration data is validated against this `JSON schema`."}},"required":["identifier","schema"],"description":"Configuration definition","additionalProperties":false},"configurations":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the configuration"},"description":{"type":"string","maxLength":256,"description":"Description of the configuration"},"identifier":{"type":"object","properties":{"linkTemplateScript":{"type":"string","maxLength":2000},"required":{"type":"boolean"}},"required":["required"],"description":"Identifier configuration of the [Integration](#schema_integration)","additionalProperties":false},"schema":{"type":"object","additionalProperties":true,"description":"Schema of the configuration in the `JSON schema` format. The configuration data is validated against this `JSON schema`."}},"required":["identifier","schema"],"description":"Configuration definition","additionalProperties":false}},"channels":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the channel"},"description":{"type":"string","maxLength":256,"description":"Description of the channel"},"messages":{"type":"object","additionalProperties":{"type":"object","properties":{"schema":{"type":"object","additionalProperties":true}},"required":["schema"],"description":"Message definition","additionalProperties":false}},"conversation":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the tag"},"description":{"type":"string","maxLength":256,"description":"Description of the tag"}},"description":"Definition of a tag that can be provided on the object","additionalProperties":false}},"creation":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Enable conversation creation"},"requiredTags":{"type":"array","items":{"type":"string"},"description":"The list of tags that are required to be specified when calling the API directly to create a conversation."}},"required":["enabled","requiredTags"],"description":"The conversation creation setting determines how to create a conversation through the API directly. The integration will have to implement the `createConversation` functionality to support this setting.","additionalProperties":false}},"required":["tags","creation"],"description":"Conversation object configuration","additionalProperties":false},"message":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the tag"},"description":{"type":"string","maxLength":256,"description":"Description of the tag"}},"description":"Definition of a tag that can be provided on the object","additionalProperties":false}}},"required":["tags"],"description":"Message object configuration","additionalProperties":false}},"required":["messages","conversation","message"],"description":"Channel definition","additionalProperties":false}},"states":{"type":"object","additionalProperties":{"type":"object","properties":{"type":{"type":"string","enum":["conversation","user","integration"],"description":"Type of the [State](#schema_state) (`conversation`, `user` or `integration`)"},"schema":{"type":"object","additionalProperties":true,"description":"Schema of the [State](#schema_state) in the `JSON schema` format. This `JSON schema` is going to be used for validating the state data."}},"required":["type","schema"],"description":"State definition","additionalProperties":false}},"events":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the event"},"description":{"type":"string","maxLength":256,"description":"Description of the event"},"schema":{"type":"object","additionalProperties":true}},"required":["schema"],"description":"Event Definition","additionalProperties":false}},"actions":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the action"},"description":{"type":"string","maxLength":256,"description":"Description of the action"},"billable":{"type":"boolean"},"cacheable":{"type":"boolean"},"input":{"type":"object","properties":{"schema":{"type":"object","additionalProperties":true}},"required":["schema"],"additionalProperties":false},"output":{"type":"object","properties":{"schema":{"type":"object","additionalProperties":true}},"required":["schema"],"additionalProperties":false}},"required":["input","output"],"description":"Action definition","additionalProperties":false}},"user":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the tag"},"description":{"type":"string","maxLength":256,"description":"Description of the tag"}},"description":"Definition of a tag that can be provided on the object","additionalProperties":false}},"creation":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Enable user creation"},"requiredTags":{"type":"array","items":{"type":"string"},"description":"The list of tags that are required to be specified when calling the API directly to create a user."}},"required":["enabled","requiredTags"],"description":"The user creation setting determines how to create a user through the API directly. The integration will have to implement the `createUser` functionality to support this setting.","additionalProperties":false}},"required":["tags","creation"],"description":"User object configuration","additionalProperties":false},"entities":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the entity"},"description":{"type":"string","maxLength":256,"description":"Description of the entity"},"schema":{"type":"object","additionalProperties":true}},"required":["schema"],"description":"Entity definition","additionalProperties":false}},"dev":{"type":"boolean","description":"Indicates if the integration is a development integration; Dev integrations run locally"},"title":{"type":"string","minLength":1,"maxLength":64,"description":"Title of the integration. This is the name that will be displayed in the UI"},"description":{"type":"string","maxLength":256,"description":"Description of the integration. This is the description that will be displayed in the UI"},"iconUrl":{"type":"string","description":"URL of the icon of the integration. This is the icon that will be displayed in the UI"},"readmeUrl":{"type":"string","description":"URL of the readme of the integration. This is the readme that will be displayed in the UI"},"public":{"type":"boolean","description":"Idicates if the integration is public. Public integrations are available to all and cannot be updated without creating a new version."},"verificationStatus":{"type":"string","enum":["unapproved","pending","approved","rejected"],"description":"Status of the integration version verification"},"secrets":{"type":"array","items":{"type":"string"},"description":"Secrets are integration-wide values available in the code via environment variables formatted with a SECRET_ prefix followed by your secret name. A secret name must respect SCREAMING_SNAKE casing."}},"required":["id","createdAt","updatedAt","identifier","url","name","version","interfaces","configuration","configurations","channels","states","events","actions","user","entities","dev","title","description","iconUrl","readmeUrl","public","verificationStatus","secrets"],"additionalProperties":false},"Interface":{"type":"object","properties":{"id":{"type":"string","minLength":28,"maxLength":36,"description":"ID of the [Interface](#schema_interface)"},"createdAt":{"type":"string","format":"date-time","description":"Creation date of the [Interface](#schema_interface) in ISO 8601 format"},"updatedAt":{"type":"string","format":"date-time","description":"Updating date of the [Interface](#schema_interface) in ISO 8601 format"},"name":{"type":"string","maxLength":200,"description":"Name of the [Interface](#schema_interface)"},"version":{"type":"string","maxLength":200,"description":"Version of the [Interface](#schema_interface)"},"entities":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the entity"},"description":{"type":"string","maxLength":256,"description":"Description of the entity"},"schema":{"type":"object","additionalProperties":true}},"required":["schema"],"description":"Entity definition","additionalProperties":false}},"events":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the event"},"description":{"type":"string","maxLength":256,"description":"Description of the event"},"schema":{"type":"object","additionalProperties":true}},"required":["schema"],"description":"Event Definition","additionalProperties":false}},"actions":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the action"},"description":{"type":"string","maxLength":256,"description":"Description of the action"},"billable":{"type":"boolean"},"cacheable":{"type":"boolean"},"input":{"type":"object","properties":{"schema":{"type":"object","additionalProperties":true}},"required":["schema"],"additionalProperties":false},"output":{"type":"object","properties":{"schema":{"type":"object","additionalProperties":true}},"required":["schema"],"additionalProperties":false}},"required":["input","output"],"description":"Action definition","additionalProperties":false}},"channels":{"type":"object","additionalProperties":{"type":"object","properties":{"title":{"type":"string","maxLength":64,"description":"Title of the channel"},"description":{"type":"string","maxLength":256,"description":"Description of the channel"},"messages":{"type":"object","additionalProperties":{"type":"object","properties":{"schema":{"type":"object","additionalProperties":true}},"required":["schema"],"description":"Message definition","additionalProperties":false}}},"required":["messages"],"additionalProperties":false}},"nameTemplate":{"type":"object","properties":{"script":{"type":"string","maxLength":2000},"language":{"type":"string","maxLength":200}},"required":["script","language"],"description":"Template string optionaly used at build time by integrations implementing this interface to pick a name for actions and events.","additionalProperties":false}},"required":["id","createdAt","updatedAt","name","version","entities","events","actions","channels"],"additionalProperties":false},"Workspace":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"ownerId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"botCount":{"type":"number"},"billingVersion":{"type":"string","enum":["v1","v2"]},"plan":{"type":"string","enum":["community","team","enterprise"]},"blocked":{"type":"boolean"},"spendingLimit":{"type":"number"},"about":{"default":"","type":"string"},"profilePicture":{"default":"","type":"string"},"contactEmail":{"default":"","type":"string"},"website":{"default":"","type":"string"},"socialAccounts":{"default":[],"type":"array","items":{"type":"string"}},"isPublic":{"type":"boolean"},"handle":{"default":"","type":"string"}},"required":["id","name","ownerId","createdAt","updatedAt","botCount","billingVersion","plan","blocked","spendingLimit"],"additionalProperties":false},"WorkspaceMember":{"type":"object","properties":{"id":{"type":"string"},"userId":{"type":"string","format":"uuid"},"email":{"type":"string"},"createdAt":{"type":"string"},"role":{"type":"string","enum":["viewer","billing","developer","manager","administrator","owner"]},"profilePicture":{"type":"string"},"displayName":{"type":"string","maxLength":100}},"required":["id","email","createdAt","role"],"additionalProperties":false},"Account":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"displayName":{"type":"string","maxLength":100},"emailVerified":{"type":"boolean"},"profilePicture":{"type":"string"},"createdAt":{"type":"string","format":"date-time","description":"Creation date of the [Account](#schema_account) in ISO 8601 format"}},"required":["id","email","emailVerified","createdAt"],"additionalProperties":false},"Usage":{"type":"object","properties":{"id":{"type":"string","description":"Id of the usage that it is linked to. It can either be a workspace id or a bot id"},"period":{"type":"string","description":"Period of the quota that it is applied to"},"value":{"type":"number","description":"Value of the current usage"},"quota":{"type":"number","description":"Quota of the current usage"},"type":{"type":"string","enum":["invocation_timeout","invocation_calls","storage_count","bot_count","knowledgebase_vector_storage","workspace_ratelimit","table_row_count","workspace_member_count","integrations_owned_count","ai_spend","openai_spend","bing_search_spend","always_alive"],"description":"Usage type that can be used"}},"required":["id","period","value","quota","type"],"additionalProperties":false},"Issue":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"lastSeenAt":{"type":"string","format":"date-time"},"title":{"type":"string"},"description":{"type":"string"},"groupedData":{"type":"object","additionalProperties":{"type":"object","properties":{"raw":{"type":"string"},"pretty":{"type":"string"}},"required":["raw"],"additionalProperties":false}},"eventsCount":{"type":"number"},"category":{"type":"string","enum":["user_code","limits","configuration","other"]},"resolutionLink":{"type":"string","nullable":true}},"required":["id","code","createdAt","lastSeenAt","title","des
[...]
