@mixin variant($primary, $dark, $focus: $dark) {
  @apply #{$primary};
  &:active {
  }
  &:focus {
    @apply #{$focus};
  }
  &:hover {
    @apply #{$dark};
  }
}

@layer components {
  .button {
    @apply flex h-[32px] items-center rounded-md px-5 text-white transition-all duration-100;
    // TODO: Maybe add a mixin for this
    &.icon-leading {
      & > * {
        @apply mr-1 h-[24px] w-[24px] flex-shrink-0;
      }
    }
    &.icon-trailing {
      & > * {
        @apply ml-1 h-[24px] w-[24px] flex-shrink-0;
      }
    }
    &:active {
      @apply scale-[.98];
    }
    @include variant(
      'dark:bg-zinc-600 dark:text-zinc-50 bg-zinc-200 text-zinc-600',
      'bg-zinc-300 text-zinc-700 dark:text-zinc-50 dark:bg-zinc-700'
    );
    &.primary {
      @include variant('bg-primary text-white', bg-primary-dark);
    }
    &.secondary {
      @include variant('text-primary-dark bg-primary/10', 'bg-primary/25');
    }
  }
  .link {
    &:hover {
      color: var(--color-primary);
    }
  }
}
